<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="EnvironmentSettings" type="System.Configuration.ApplicationSettingsGroup">
			<section name="Production" type="System.Configuration.AppSettingsSection"/>
			<section name="Development" type="System.Configuration.AppSettingsSection"/>
			<section name="QA" type="System.Configuration.AppSettingsSection"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="MovieDBContextPrd"
   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-MvcMovie;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MoviesPrd.mdf"
   providerName="System.Data.SqlClient"
/>
		<add name="MovieDBContextDev"
   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-MvcMovie;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MoviesDev.mdf"
   providerName="System.Data.SqlClient"
/>
		<add name="MovieDBContextQA"
   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-MvcMovie;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\MoviesQA.mdf"
   providerName="System.Data.SqlClient"
/>
	</connectionStrings>

	<EnvironmentSettings>
		<Production file="Config\Production.config"></Production>
		<Development file="Config\Development.config"></Development>
		<QA>
			<add key="TestKey" value="QAValue"/>
			<add key="connection" value="MovieDBContextQA"/>
		</QA>
	</EnvironmentSettings>


	<appSettings>
		<add key="CurrentEnvironment" value="Development"/>
		<add key="CommonKey" value="CommonValue"/>
	</appSettings>
</configuration>