<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="EnvironmentSettings" type="System.Configuration.ApplicationSettingsGroup">
			<section name="Production" type="System.Configuration.AppSettingsSection"/>
			<section name="Development" type="System.Configuration.AppSettingsSection"/>
		</sectionGroup>
	</configSections>

	<EnvironmentSettings>
		<Production file="Config/Production.config"></Production>
		<Development file="Config/Development.config"></Development>
	</EnvironmentSettings>


<appSettings>
	<add key="CurrentEnvironment" value="Development"/>
</appSettings>
</configuration>